.toolbar-icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  /* box-shadow: 0 2px 6px 0 rgba(52, 52, 52, 0.5); */
}

.toolbar-icon-box:hover {
  background: #f0efef99;
  /* box-shadow: 0 2px 4px 0 rgba(53, 142, 209, 0.56); */
}

.toolbar-icon-box-clicked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: #2073ee88;
}

.toolbar-icon-img {
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 25px;
}

svg {
  width: 35px;
}
