.toolbar-wrapper {
  position: absolute;
  top: 120px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f0efef99;
  width: 74px;
  height: 500px;
  border-radius: 10px 0 0 10px;
  border: none;
}

.toolbar-icons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  height: 90%;
}

.toolbar-icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(52, 52, 52, 0.5);
  border-radius: 100px;
}

.toolbar-icon-box :active {
  border: 1px solid rgba(53, 142, 209, 0.56) !important;
}

.toolbar-icon-pic {
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 25px;
}
